#wrapper{
    min-width: 1200px;
}
.barcode i.code{
    display: none;
}
.barcode:hover i.code{
    display: block;
}
.rect{
    border: none;
    background: url('../img/panel.png') no-repeat;
}
.rect:hover{
    background-position: 0 -50px;
}
.full-pic{
    width: 100%;
    height: 540px;
    padding-bottom: 0;
}
.rect a i{
    display: none;
}
.rect a:hover i{
    display: none;
}
i.icon{
	background: url('../img/icon_ie8.png') 0 0 no-repeat;
}
i.icon-count-top{
	background-position: 0 -28px;
}
i.icon-count{
	background-position: 0 -42px;
}
i.icon-video{
	background-position: 0 -56px;
}
