html,body,p,ul,h1,h2,h3{
	margin: 0;
	padding: 0;
}
img{vertical-align: middle;border:0 none;}
:link,:visited { text-decoration:none }
ul,ol,li { list-style:none }
h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; }
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden}
.fl{float: left;}
.fr{float: right;}
.mr-5{margin-right: 5px;}
.mr-20{margin-right: 20px;}
.ml-5{margin-left: 5px;}
.ml-10{margin-left: 10px;}
.ml-20{margin-left: 20px;}
.ml-30{margin-left: 30px;}
.ml-55{margin-left: 55px;}
.ml-60{margin-left: 60px;}
.ml-65{margin-left: 65px;}
html,body{
	height: 100%;
}
body{
    background: #333;
    font: 16px/30px "PingFang SC","Microsoft YaHei",Arial,Helvetica,sans-serif;
	background: #21528c;
}
#wrapper{
    width: 100%;
	height: 100%;
    min-width: 1200px;
    min-height: 1080px;
    margin: 0 auto;
    background: #333 url('../img/bg_l.png') no-repeat top center;
	position: relative;
}
#header{
    width: 1200px;
    height: 70px;
    line-height: 70px;
    margin: 0 auto;
    color: #fff;
}
#header h1 a{
	display: inline-block;
    width: 78px;
    height: 24px;
    text-indent: -9999px;
    overflow: hidden;
	vertical-align: middle;
    background: url('../img/logo.png');
}
#header a {
    color: #dfe7f3;
    transition: color 200ms ease-out;
}
#header a:visited{
    color: #dfe7f3;
}
#header a:hover{
    color: #fff;
}
#header a:active{
    color: #97c4fb;
}
#footer{
    width: 1200px;
    /*height: 200px;*/
    margin: 0 auto;
}
#socialmedia,#copyright{
    margin: 0 auto;
}
#socialmedia{
    width: 1020px;
    height: 40px;
    padding: 20px 90px 50px;
    border-bottom: 1px solid #36649c;
}
#socialmedia .item{
    width: 180px;
    height: 40px;
    margin: 0 80px;
    font-size: 14px;
}
#socialmedia .item .right{
    width: 40px;
    height: 40px;
}
.barcode{
	width: 100%;
	height: 100%;
	position: relative;
}
.barcode  i.code{
	width: 138px;
	height: 138px;
	position: absolute;
	left: 155px;
	bottom: -50px;
	opacity: 0;
	background: url('../img/wechat.png') center;
	-webkit-transition: all 250ms ease-in;
	transition: all 250ms ease-in;
}
.barcode .right:hover ~ i.code,.barcode .left:hover + i.code{
	opacity: 0.8;
}
#socialmedia .item .right i{
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/icon_connect.png') 0 0 no-repeat;
}
#socialmedia .item .right i.wechat{
    background-position: 0 -40px;
}
#socialmedia .item .right i.email{
    background-position: 0 -80px;
}
#socialmedia .item .left{
    width: 130px;
    height: 40px;
}
#socialmedia .item .left p{
    height: 20px;
    line-height: 20px;
    color: #b3d5ff;
}
#copyright{
    width: 1200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #b3d5ff;
	font-size: 14px;
}
