#talkbox{
    background: none;
    position: relative;
    overflow: hidden;
}
#inner{
    width: 100%;
    height: 100%;
    position: absolute;
    right: 100%;
    background: url('../img/talkbox.png') no-repeat;
}
.top-item.center{
    left: 305px;
}
.top-item.left{
    left: 0px;
}
.top-item.right{
    left: 590px;
}
.top-item img{
    /*z-index: 0;*/
    display: none;
}
.top-item{
    background: url('../img/panel3.png');
}
.top-item:hover{
    background: url('../img/panel3_hover.png');
}
.top-item i{
    display: none;
}
.top-item:hover i{
    display: none;
}
.top-item img{
     background: transparent;
     filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr=#00FFFFFF, endColorstr=#00FFFFFF
  );
     zoom: 1;
}
.barcode i.code{
    display: none;
}
.barcode:hover i.code{
    display: block;
}
.rect,.top{
    width: 70px;
    height: 50px;
    border: none;
    border-radius: none;
    box-shadow: none;
    background: url('../img/rect.png') no-repeat;
}
.top.hl{
    border:none;
    box-shadow: none;
    background: url('../img/rect_hl.png') no-repeat;
}
